<!--old approach-->
<!-- <div *ngIf="courses.length > 0">
    List of courses
</div>
<div *ngIf="courses.length == 0">
    No courses yet
</div> -->

<!--2nd approach-->

<!-- <div *ngIf="courses.length > 0; else noCourses">
    List of courses
</div>
<ng-template #noCourses>
    No courses yet
</ng-template> -->

<!--3rd approach-->

<div *ngIf="courses.length > 0; then coursesList else noCourses"></div>
<ng-template #coursesList>
    List of courses
</ng-template>
<ng-template #noCourses>
    No courses yet
</ng-template>